tools/squadt/doc/protocol.xsd

<?xml version="1.0" encoding="UTF-8" ?>
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                        version="structures.xsd (wd-20070830)">
 <!-- A version specification type -->
 <xs:simpleType name="message-type">
  <xs:restriction base="xs:token">
   <xs:enumeration value="identification"/>
   <xs:enumeration value="capabilities"/>
   <xs:enumeration value="configuration"/>
   <xs:enumeration value="termination"/>
   <xs:enumeration value="display_layout"/>
   <xs:enumeration value="display_data"/>
   <xs:enumeration value="task"/>
   <xs:enumeration value="report"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="protocol-version-type">
  <xs:complexContent>
   <xs:extension base="xs:integer">
    <xs:attribute name="major" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="minor" type="xs:nonNegativeInteger" use="required"/>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="input-configuration-type">
  <xs:sequence>
   <xs:element name="object" minOccurs="1" maxOccurs="unbounded">
    <xs:complexType>
     <xs:simpleContent>
      <xs:restriction base="xs:anyURI">
       <xs:attribute name="id" type="xs:string" use="required"/>
       <xs:attribute name="format" type="xs:string" use="required"/>
      </xs:restriction>
     </xs:simpleContent>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="category" type="xs:string" use="required"/>
 </xs:complexType>

 <xs:complexType name="capabilities-type">
  <xs:sequence>
   <xs:element name="protocol-version" type="protocol-version-type" />
   <xs:element name="input-configuration" type="input-configuration-type"
                                        minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="configuration-type">
  <xs:choice>
   <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="argument" minOccurs="0" maxOccurs="unbounded">
       <xs:complexType>
        <xs:simpleContent>
         <xs:extension base="xs:string">
          <xs:attribute name="type" use="required">
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:enumeration value="boolean" />
             <xs:enumeration value="string" />
             <xs:enumeration value="integer" />
             <xs:enumeration value="real" />
            </xs:restriction>
           </xs:simpleType>
          </xs:attribute>
         </xs:extension>
        </xs:simpleContent>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="object" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
     <xs:complexContent>
      <xs:restriction base="xs:string">
       <xs:attribute name="id" type="xs:string" use="required"/>
       <xs:attribute name="type" use="required">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="input" />
          <xs:enumeration value="output" />
         </xs:restriction>
        </xs:simpleType>
       </xs:attribute>
       <xs:attribute name="location" type="anyURI" use="required" />
       <xs:attribute name="format" type="xs:string" use="required" />
      </xs:restriction>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
  </xs:choice>
  <xs:attribute name="interactive" type="xs:boolean" use="required"/>
  <xs:attribute name="category" type="xs:string" use="required"/>
 </xs:complexType>

 <xs:complexType name="report-type">
  <xs:simpleContent>
   <xs:extension base="xs:string">
    <xs:attribute name="type" use="required">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="notice" />
       <xs:enumeration value="warning" />
       <xs:enumeration value="error" />
      </xs:restriction>
     </xs:simpleType>
    </xs:attribute>
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="widget-type" abstract="true">
  <xs:attribute name="id" type="xs:ID" use="required" />
 </xs:complexType>

 <xs:complexType name="progress-bar-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="minimum" type="xs:integer" use="required" />
    <xs:attribute name="maximum" type="xs:integer" use="required" />
    <xs:attribute name="current" type="xs:integer" use="required" />
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="radio-button-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="selected" type="xs:boolean" default="false "/>
    <xs:attribute name="connected" type="xs:ID" use="required" />
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="button-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="id" type="xs:id" use="required" />
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="label-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="id" type="xs:string" use="required" />
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="text-field-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="id" type="xs:string" use="required" />
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name="checkbox-type">
  <xs:complexContent>
   <xs:extension base="widget-type">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="checked" type="xs:boolean" default="false "/>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:group name="layout-element-type">
  <xs:choice>
   <xs:element name="box-layout-manager" type="layout-manager-type" />
   <xs:element name="progress-bar" type="progress-bar-type" />
   <xs:element name="radio-button" type="radio-button-type" />
   <xs:element name="button" type="button-type" />
   <xs:element name="label" type="label-type" />
   <xs:element name="text-field" type="text-field-type" />
   <xs:element name="checkbox" type="checkbox-type" />
  </xs:choice>
 </xs:group>

 <xs:complexType name="layout-properties-type">
  <xs:complexContent>
   <xs:restriction base="xs:string">
    <xs:attribute name="visibility" default="visible">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="visible" />
       <xs:enumeration value="hidden" />
      </xs:restriction>
     </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="status" default="enabled">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="enabled" />
       <xs:enumeration value="disabled" />
      </xs:restriction>
     </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="margin-top" type="xs:nonNegativeInteger" default="0" />
    <xs:attribute name="margin-right" type="xs:nonNegativeInteger" default="0" />
    <xs:attribute name="margin-bottom" type="xs:nonNegativeInteger" default="0" />
    <xs:attribute name="margin-left" type="xs:nonNegativeInteger" default="0" />
    <xs:attribute name="horizontal-alignment" default="left">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="left" />
       <xs:enumeration value="centre" />
       <xs:enumeration value="right" />
      </xs:restriction>
     </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vertical-alignment" default="middle">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:enumeration value="top" />
       <xs:enumeration value="middle" />
       <xs:enumeration value="bottom" />
      </xs:restriction>
     </xs:simpleType>
    </xs:attribute>
   </xs:restriction>
  </xs:complexContent>
 </xs:complexType>

 <xs:group name="element-with-layout">
  <xs:sequence>
   <xs:element name="properties" type="layout-properties-type" />
   <xs:group ref="layout-element-type" />
  </xs:sequence>
 </xs:group>

 <xs:complexType name="layout-manager-type">
  <xs:sequence>
   <xs:group ref="element-with-layout" minOccurs="0" maxOccurs="unbounded" />
  </xs:sequence>
  <xs:attribute name="direction" use="required">
   <xs:simpleType>
    <xs:restriction base="xs:string">
     <xs:enumeration value="horizontal" />
     <xs:enumeration value="vertical" />
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:complexType>

 <xs:complexType name="display-layout-type">
  <xs:sequence>
   <xs:element name="box-layout-manager" type="layout-manager-type"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="message-base-type" mixed="true">
  <xs:sequence>
   <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="type" type="message-type" use="required"/>
  <xs:anyAttribute processContents="skip"/>
 </xs:complexType>

 <xs:complexType name="display-data-type">
  <xs:choice>
   <xs:element name="progress-bar" type="progress-bar-type"/>
   <xs:element name="radio-button" type="radio-button-type"/>
   <xs:element name="button" type="button-type"/>
   <xs:element name="label" type="label-type"/>
   <xs:element name="text-field" type="text-field-type"/>
   <xs:element name="checkbox" type="checkbox-type"/>
  </xs:choice>
 </xs:complexType>

 <xs:element name="message" type="message-base-type">
  <xs:alternative test="@type='identification'" type="xs:string"/>
  <xs:alternative test="@type='capabilities'" type="configuration-type"/>
  <xs:alternative test="@type='termination'" type="xs:boolean"/>
  <xs:alternative test="@type='task'" type="xs:boolean"/>
  <xs:alternative test="@type='report'" type="report-type"/>
  <xs:alternative test="@type='display-layout'" type="display-layout-type"/>
  <xs:alternative test="@type='display-data'" type="display-data-type"/>
 </xs:element>
</xs:schema>
